.video-monitor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  video {
    width: 80%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 10px;
  }
  